$darkBlue: #405b78;
$tickTextShadow: 0 2px 0 #2f435b;
$lightBlue: #7292b1;
$disabledColor: #cecece;
$disabledTextShadow: 0 1px 0 rgba(0,0,0, 0.5);

$size: 20px;
$borderWidth: 3px;

.CheckBox {
    cursor: pointer;
    line-height: 9px;

    .Label {
        padding-top: 6px;
        display: inline-block;
        vertical-align: top;
        margin: 0 5px;
    }

    .Box {
        color: $darkBlue;
        border: $borderWidth solid $darkBlue;
        width: $size;
        height: $size;

        display: inline-block;
        position: relative;
        box-sizing: border-box;

        i,
        input[type=checkbox] {
            display: none;
        }
    }

    .Checked {
        background-color: $darkBlue;
        color: white;
        text-shadow: $tickTextShadow;

        i {
            display: block;
            height: 100%;
            width: $size - $borderWidth * 2;
            line-height: $size - $borderWidth * 2 + 1;
            font-size: $size - 8px;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.Disable {
    cursor: not-allowed;

    i {
        color: $lightBlue;
        text-shadow: none;
    }

    span {
        color: $disabledColor;
        text-shadow: $disabledTextShadow;
    }
}