@import '../variables';

$size: 20px;
$borderWidth: 3px;

.CheckBox {
    cursor: pointer;
    line-height: 9px;

    .Label {
        padding-top: 6px;
        display: inline-block;
        vertical-align: top;
        margin: 0 5px;
    }

    .Box {
        color: $primary;
        border: $borderWidth solid $primary;
        width: $size;
        height: $size;

        display: inline-block;
        position: relative;
        box-sizing: border-box;

        i,
        input[type=checkbox] {
            display: none;
        }
    }

    .Checked {
        background-color: $primary;
        color: white;
        text-shadow: $tickTextShadow;

        i {
            display: block;
            height: 100%;
            width: $size - $borderWidth * 2;
            line-height: $size - $borderWidth * 2 + 1;
            font-size: $size - 10px;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: all .2s;
        }
    }
}

.Disable {
    cursor: not-allowed;

    i {
        color: $primaryDisabled;
        text-shadow: none;
    }

    span {
        color: $primaryDisabledColor;
        text-shadow: $tickDisabledTextShadow;
    }
}

.CheckBox:hover{
    i {
        transform: scale(1.3);
    }
}