@import '../variables';

.Button {
    display: block;
    outline: none;
    width: 100%;
    margin-bottom: 4px;
    cursor: pointer;
    border: 0;
}

.Default{
    color: $defaultColor;
    border: 1px solid $defaultBorderBottom;
    border-bottom-width: 3px;
    text-shadow: $darkTextShadow;

    &:hover {
        background-color: $defaultHover;
    }
}

.Warning{
    background-color: $warning;
    color: $warningColor;
    border-bottom: 3px solid $warningBorderBottom;
    text-shadow: $darkTextShadow;

    &:hover {
        background-color: $warningHover;
    }
}

.Danger{
    background-color: $danger;
    color: $dangerColor;
    border-bottom: 3px solid $dangerBorderBottom;
    text-shadow: $darkTextShadow;

    &:hover {
        background-color: $dangerHover;
    }
}

.Success{
    background-color: $success;
    color: $successColor;
    border-bottom: 3px solid $successBorderBottom;
    text-shadow: $darkTextShadow;

    &:hover {
        background-color: $successHover;
    }
}

.Info{
    background-color: $info;
    color: $infoColor;
    border-bottom: 3px solid $infoBorderBottom;
    text-shadow: $darkTextShadow;

    &:hover {
        background-color: $infoHover;
    }
}

.Primary{
    background-color: $primary;
    color: $primaryColor;
    border-bottom: 3px solid $primaryBorderBottom;
    text-shadow: $darkTextShadow;

    &:hover {
        background-color: $primaryHover;
    }
}

.Pressed {
    border-bottom-width: 1px;
}

.Round3{
    border-radius: 3px;
}

.Round5{
    border-radius: 5px;
}

.Round20{
    border-radius: 20px;
}
