@import '../variables';

.Progress{
    background-color: $primary;
    border-top: 2px solid $primaryBorderBottom;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;

    .Bar {
        text-shadow: $darkTextShadow;
        background-color: $info;
        display: inline-block;
        transition: all 1s;
        text-align: right;

        span {
            color: $infoColor;
            position: absolute;
            right: 5px;
        }

        &::after {
            content: "space";
            display: block;
            clear: both;
            visibility: hidden;
        }
    }
}

@keyframes progress-bar-stripes {
    from  { background-position: 40px 0; }
    to    { background-position: 0 0; }
}

.Active {
    animation: progress-bar-stripes 2s linear infinite;
}
.Striped {
    background-image: linear-gradient(
                    45deg,
                    rgba(255,255,255,.15) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255,255,255,.15) 50%,
                    rgba(255,255,255,.15) 75%,
                    transparent 75%,
                    transparent
    );
    background-size: 40px 40px;
}