@import '../variables';

.Progress{
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;
    background-color: $progressBarColor;
    border-top-width: 2px;
    border-top-style: solid;
    border-radius: 3px;
    line-height: 1.5em;

    &.Default {
        background-color: #fff;
        border-top-color: $defaultBorderBottom;
        .Bar {
            background-color: #B0BEC5;
        }
    }

    &.Primary {
        border-top-color: $primary;
        span {
            color: $primaryColor;
        }
        .Bar {
            background-color: $primary;
        }
    }

    &.Warning {
        border-top-color: $warningBorderBottom;
        span {
            color: $warningColor;
        }
        .Bar {
            background-color: $warning;
        }
    }

    &.Success {
        border-top-color: $successBorderBottom;
        span {
            color: $successColor;
        }
        .Bar {
            background-color: $success;
        }
    }

    &.Danger {
        border-top-color: $dangerBorderBottom;
        span {
            color: $dangerColor;
        }
        .Bar {
            background-color: $danger;
        }
    }

    &.Info {
        border-top-color: $infoBorderBottom;
        span {
            color: $infoColor;
        }
        .Bar {
            background-color: $info;
        }
    }

    .Bar {
        display: inline-block;
        transition: all 1s;
        text-align: right;
        text-shadow: 0 1px 0 rgba(0,0,0, 0.7);

        span {
            position: absolute;
            right: 5px;
        }

        &::after {
            content: "space";
            display: block;
            clear: both;
            visibility: hidden;
        }
    }
}

@keyframes progress-bar-stripes {
    from  { background-position: 40px 0; }
    to    { background-position: 0 0; }
}

.Active {
    animation: progress-bar-stripes 2s linear infinite;
}
.Striped {
    background-image: linear-gradient(
                    45deg,
                    rgba(255,255,255,.15) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255,255,255,.15) 50%,
                    rgba(255,255,255,.15) 75%,
                    transparent 75%,
                    transparent
    );
    background-size: 40px 40px;
}