$switchWidth: 30px;

.SwitchButton{
    background-color: #eee;
    border: 2px solid #cccccc;
    padding: 3px;
    width: $switchWidth * 2;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;

    .Switch {
        width: $switchWidth;
        text-align: center;
        transition: all 0.3s;
    }

    .On {
        background-color: green;
        transform: translateX(0px);
    }

    .Off {
        background-color: red;
        transform: translateX($switchWidth);
    }

    span {
        font-size: .7em;
        color: #ffffff;
    }
}