@import '../variables';

.SwitchButton{
    background-color: #eee;
    border: 2px solid #cccccc;
    padding: 1px;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;

    .Switch {
        text-align: center;
        transition: all 0.3s;
    }

    .On {
        background-color: $success;
    }

    .Off {
        background-color: $danger;
    }

    span {
        font-size: .7em;
        color: #ffffff;
        vertical-align: text-bottom;
    }
}