.CaptionPanel{
    border: 1px solid #ccc;
    border-radius: 3px;

    .Title {
        padding: 5px 10px;
        background-color: #eee;
        border-bottom: 1px solid #ccc;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    }

    .Body {
        margin: 10px;
    }
}