// Colors
$defaultBorderBottom: #555;
$defaultHover: #f9f9f9;
$defaultColor: #000;

$warning: #fdc80f;
$warningBorderBottom: #e0ab25;
$warningHover: #fdd417;
$warningColor: #fff;

$danger: #e84c3d;
$dangerBorderBottom: #b1372d;
$dangerHover: #e66054;
$dangerColor: #fff;

$info: #2cbfe2;
$infoBorderBottom: #29b3d5;
$infoHover: #30CEF4;
$infoColor: #fff;

$success: #1d8642;
$successBorderBottom: #10672e;
$successHover: #209649;
$successColor: #fff;

$primary: #415b76;
$primaryBorderBottom: #233a56;
$primaryHover: #4E6D8D;
$primaryColor: #fff;
$primaryDisabled: #7292b1;
$primaryDisabledColor: #cecece;

$progressBarColor: #f5f5f5;

// ####
$darkTextShadow: 0 1px 0 rgba(0,0,0,0.4);
$tickTextShadow: 0 2px 0 #2f435b;
$tickDisabledTextShadow: 0 1px 0 rgba(0,0,0, 0.5);
