// Colors
$defaultBorderBottom: #555;
$defaultHover: #f9f9f9;
$defaultColor: #000;

$warning: #fdc80f;
$warningBorderBottom: #e0ab25;
$warningHover: #fdd417;
$warningColor: #fff;

$danger: #e84c3d;
$dangerBorderBottom: #b1372d;
$dangerHover: #e66054;
$dangerColor: #fff;

$primary: #405b78;
$primaryBorderBottom: #b1372d;
$primaryHover: #456281;
$primaryColor: #fff;
$primaryDisabled: #7292b1;
$primaryDisabledColor: #cecece;

// ####
$darkTextShadow: 0 1px 0 rgba(0,0,0,0.4);
$tickTextShadow: 0 2px 0 #2f435b;
$tickDisabledTextShadow: 0 1px 0 rgba(0,0,0, 0.5);
